body {
    font-family: 'Source Sans Pro', sans-serif;
}

.myDark {
    background-color: #343A40;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.navbar{
    opacity: 0.9;
}

.txt-bg{
    font-size: 4rem;
}

.hov-under:hover{
    text-decoration: underline;
}